<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="/Content/calendar.css">
    <link rel="stylesheet" href="/Content/Style.css">
    
</head>
<body>
    <!--<div ng-controller="Calendarcontroller">-->
        <p>Date: <input ng-controller="Calendarcontroller" type="text" id="datepicker"></p>
    <!--</div>-->

</body>
</html>