<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <!--#################################################### VatMakeRpt  ######################################################-->
    <div id="mysidenavRightVATMake" class="modal" style="background-color:white; border:none" ng-controller="LRWcontroller">

        <div class="modal-content" style="height:100%;  background-color:#005a9e;color:white">
            <div class="modal-body" style="height:100%;  background-color:#005a9e;color:white">
                <!--start filter-->
                <div style="width:100%; height:20%; text-align:center;float:left;">
                    <label id="modalMessage" style="font-size:medium;font-weight:bold;background-color:brown;color:white;width:100%">Vat Make Report</label>

                    <div style="width:15%;height:100%;float:left">
                        <label style="float:left;color:white">From Date</label>
                        <input id="RtimestampidF" style="width:100px;height:20px;background-color:black; font-size:x-small; font-style:italic; color:lightgoldenrodyellow; float:left; border:solid 2px; border-color:darkkhaki; text-align:center" ng-click="OpenCalendar('#RtimestampidF')">
                        <!--<label style="background-color:transparent;color:white;width:100%; float:left; text-align:center; font-size:12px; ">From Date</label>
                    <button type="button" class="dropbtn" style="transition: 1s;background-color:transparent; border:none; color:white;float:right" ng-click="OpenCalendar('#timestampid')">
                        <img src="Calendar.png" title="Select Date" style="width:25px;height:30px;border:outset;border-color:darkslategray " />
                    </button>
                    <input id="timestampid" contenteditable="true" style="width:140px;height:40px;background-color:black; font-size:small; font-style:italic; color:lightgoldenrodyellow;border:outset; border-color:darkslategray; float:right;text-align:center" disabled="disabled" ng-click="OpenCalendar('#timestampid')">-->

                    </div>
                    <div style="width:15%;height:100%;float:left">
                        <label style="float:left;color:white">To Date</label>
                        <input id="RtimestampidT" style="width:100px;height:20px;background-color:black; font-size:x-small; font-style:italic; color:lightgoldenrodyellow; float:left; border:solid 2px; border-color:darkkhaki; text-align:center;" ng-click="OpenCalendar('#RtimestampidT')">
                    </div>
                    <div style="width:15%;height:100%;float:left">
                        <label style="float:left;color:white">Line Number</label>
                        <select id="SULine" type="text" style=" float:left;width:100px;height:20px; font-size:x-small; text-align-last:center; border:solid 2px #0fbef4; border-top-left-radius:0; align-content:center;float:left;text-align:left;background-color:darkslategrey;color:lightgoldenrodyellow ">
                            <option value="" selected> </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div style="width:15%;height:100%;float:left">
                        <label style="background-color:transparent;color:white;width:100%; float:left; text-align:center; font-size:12px; ">Production Order</label>

                    </div>
                    <div style="width:15%;height:100%;float:left">
                        <label style="background-color:transparent;color:white;width:100%; float:left; text-align:center; font-size:12px; ">Material</label>

                    </div>
                    <!--cancel button-->

                    <button id="closeSaveMessage" type="button" ng-click="cancelModal()" style="transition: 1s;background:fixed 2px black; color:white;float:left;border-radius:24px;width:80px;height:80px; font-size:medium;float:right">CANCEL</button>
                    <button class="dropbtn" id="getLQLDashboard" type="button" style="transition: 1s;background-color:transparent; border:none; color:white;float:left; " ng-click="GridfromButtonDOPStrChseRpt();">
                        <img src="REFRESH.png" title="refresh" style="width:25px;height:25px; border:outset; border-radius:16px" />
                    </button>

                </div>
                <!--end filter-->
                <div id="gridandchartW" style="width:100%; height:100%">
                    <!--top grid **************************************************************-->
                    <div id="gridOperator" style="width:100%;height:50%; float:left; border:hidden">
                        <div id="gridW" ui-grid="gridOptionsVatMakeRpt" ui-grid-selection ui-grid-auto-resize ui-grid-edit ui-grid-exporter ui-grid-resize-columns class="gridVatMakeRpt" style=" width:1200px; height: 40vh; color:white;border:none; font-size:medium; font-family: Arial, Helvetica, sans-serif, cursive, sans-serif; color: red;"></div>
                        <div style="padding-left: 120px; padding-top: 400px;background-color:transparent; color:black" class="grid-msg-overlay" ng-hide="!loading">
                            <div style="background-color:transparent; color:white;" class="msg">
                                <span>Please wait while Loading Data...<br /><!----><br />Working on Retrieving info ...<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</body>
</html>